.app
    max-width 960px
    margin 0 auto
    padding 15px

.margin
    padding 25px

.now
    padding 30px

.ajust
    font-size: 10px;

.notList
    list-style-type: none;
    margin-left: -5px;

.booksLibraryOne
    height: 250px;
    width: 200px;

h2
    font-size: 20px;
    font-weight: normal;
