doctype html
html(lang="es")
    head
        title Finder challenge
        meta(charset="utf-8")
        meta(viewport="width=device-width, initial-scale=1.0")
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
        link(href="https://fonts.googleapis.com/css?family=Proxima+Nova", rel="stylesheet", type="text/css")
        link(href="/vendor/pure/pure-min.css", rel="stylesheet")
        link(href="/styles/index.css", rel="stylesheet")
        link(rel='stylesheet', href="/styles/awesomplete.css")  
        
        script(src='/scripts/awesomplete.js', async='')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js')
          //- third party libraries
        script(src="/vendor/underscore/underscore-min.js")
  
          //- app scripts self
        script(src="/scripts/global.js")
        script(src="/scripts/search-form.js")
        script(src="/scripts/app.js")

    body
        .app.pure-g
            header.pure-u-1
              .row
                  .col-md-4
                      h1.logo Finder challenge!
                  .col-md-4.col-sm-10.col-xs-12
                      include blocks/search-form
                  .col-md-4
                    .margin
                      ul.nav.nav-pills(role='tablist')
                        li(role='presentation')
                          a(href='#') Guardar Bùsqueda
            aside.filters.pure-u-1-4
                .center-block.text-center
                  h2 Bùsquedas Guardadas
                  .col-md-12.text-center
                    ul#list.notList.col-xs-12
                  br
                  h2 Categorías
                  .col-md-12
                    ul#listCat.notList.col-xs-12
                      h5 Todos
                      li.text-center
                        
                        a(href='#') Terror
                        br
                        a(href='#') Comedia
                        br
                        a(href='#') Drama
                  br
                  h2 Idiomas
                  .col-md-12
                    ul#listLang.notList.col-xs-12
                      h5 Todos
                      li.text-center
                        
                        a(href='#') Inglés
                        br
                        a(href='#') Español
                        br
                        a(href='#') Portugués   
            content.pure-u-3-4
              #blocksBooks.row

            footer.pure-u-1
              nav(aria-label='...')
                ul.pager
                  li
                    a(href='#') Previous
                  li
                    a(href='#') Next


        
